DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=movie_ticket_booking_system

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_FROM_NAME="MTBS Cinema"
