*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f4f5f9;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.box{
background:white;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 8px 25px rgba(0,0,0,.08);
max-width:500px;
}

.icon{
width:80px;
height:80px;
background:#ff5a36;
color:white;
font-size:40px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
margin-bottom:20px;
}

h2{
margin-bottom:15px;
color:#1f2937;
}

p{
margin-bottom:25px;
color:#666;
}

a{
background:#ff5a36;
color:white;
padding:12px 24px;
border-radius:10px;
text-decoration:none;
}